<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- Null일떄 Null 표시 -->
	<settings>
	   <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

		<typeAlias type="com.kh.chickenPeople.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.chickenPeople.bung.model.vo.Bung" alias="Bung"/>
		<typeAlias type="com.kh.chickenPeople.store.model.vo.Store" alias="Store"/>
		<typeAlias type="com.kh.chickenPeople.brand.model.vo.Brand" alias="Brand"/>
		<typeAlias type="com.kh.chickenPeople.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.chickenPeople.message.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.chickenPeople.like.model.vo.Like" alias="Like"/>
		<typeAlias type="com.kh.chickenPeople.menu.model.vo.Menu" alias="Menu"/>
		<typeAlias type="com.kh.chickenPeople.tag.model.vo.Tag" alias="Tag"/>
		<typeAlias type="com.kh.chickenPeople.bung.model.vo.BungTag" alias="BungTag"/>
		<typeAlias type="com.kh.chickenPeople.member.model.vo.Address" alias="Address"/>
		<typeAlias type="com.kh.chickenPeople.main.model.vo.BestMenu" alias="BestMenu"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/bung-mapper.xml"/>
		<mapper resource="/mappers/store-mapper.xml"/>
		<mapper resource="/mappers/message-mapper.xml"/>
		<mapper resource="/mappers/like-mapper.xml"/>
		<mapper resource="/mappers/system-mapper.xml"/>
		<mapper resource="/mappers/tag-mapper.xml"/>
		<mapper resource="/mappers/menu-mapper.xml"/>
		<mapper resource="/mappers/brand-mapper.xml"/>
		<mapper resource="/mappers/main-mapper.xml"/>
	</mappers>
</configuration>
