<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- Null일떄 Null 표시 -->
	<settings>
	   <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
	    <typeAlias type="com.kh.chickenPeople.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.chickenPeople.message.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.chickenPeople.like.model.vo.Like" alias="Like"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/message-mapper.xml"/>
		<mapper resource="/mappers/like-mapper.xml"/>
	</mappers>
</configuration>
