<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- Null일떄 Null 표시 -->
	<settings>
	   <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

	   <typeAlias type="com.kh.chickenPeople.notice.model.vo.Notice" alias="Notice"/>
	   

	   <typeAlias type="com.kh.chickenPeople.bung.model.vo.Bung" alias="Bung"/>
	   <typeAlias type="com.kh.chickenPeople.store.model.vo.Store" alias="Store"/>
	   <typeAlias type="com.kh.chickenPeople.brand.model.vo.Brand" alias="Brand"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/bung-mapper.xml"/>
		<mapper resource="/mappers/store-mapper.xml"/>
		

	</mappers>
</configuration>
