<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="brandMapper">
  <resultMap type="brand" id="brandResultSet">
  	<id property="brand_code" column="BRAND_CODE"/>
  	<result property="brand_pic" column="BRAND_PIC"/>
  	<result property="brand_name" column="BRAND_NAME"/>
  	<result property="brand_yn"	column="BRAND_YN"/>
  	<result property="brand_count" column="BRAND_COUNT"/>
  </resultMap>
  
  <resultMap type="brandTotal" id="brandTotalResultSet">
  	<id property="brandCode" column="BRAND_CODE"/>
  	<result property="payTotal" column="PAY_TOTAL"/>
  </resultMap>
  <select id="getListCount" resultType="_int" parameterType="SearchStatus">
  	SELECT COUNT(*)
  	FROM (SELECT B.BRAND_CODE AS "BRAND_CODE", BRAND_PIC, BRAND_NAME, COUNT(*) AS "BRAND_COUNT", BRAND_YN
		  FROM BRAND B
		  LEFT OUTER JOIN STORE_INFO SI ON (B.BRAND_CODE = SI.BRAND_CODE)
	      WHERE BRAND_YN=#{searchStatus}
	      <if test="searchName!=null">
	      AND BRAND_NAME LIKE '%'||#{searchName}||'%'
	      </if>
	      GROUP BY B.BRAND_CODE, BRAND_PIC, BRAND_NAME, BRAND_YN	)	  
  </select>
  <select id="selectBrand" parameterType="SearchStatus" resultMap="brandResultSet">
  	SELECT B.BRAND_CODE AS "BRAND_CODE", BRAND_PIC, BRAND_NAME, COUNT(*) AS "BRAND_COUNT", BRAND_YN
	FROM BRAND B
	LEFT OUTER JOIN STORE_INFO SI ON (B.BRAND_CODE = SI.BRAND_CODE)
	WHERE BRAND_YN=#{searchStatus}
	<if test="searchName!=null">
	AND BRAND_NAME LIKE '%'||#{searchName}||'%'
	</if>
	GROUP BY B.BRAND_CODE, BRAND_PIC, BRAND_NAME, BRAND_YN	
  </select>
  
  
  <select id="selectBrandTotal" resultMap="brandTotalResultSet">
  	SELECT * 
  	FROM ADMIN_TOTAL_BRAND
  </select>
</mapper>
