<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
  <resultMap type="ChattingRoom" id="chattingResultSet">
  	<id property="chattingRoom_no" column="CHATTINGROOM_NO"/>
  	<result property="client_id" column="USER_ID"/>
  	<result property="chat_status" column="CHAT_STATUS"/>
  </resultMap>
  <resultMap type="ChattingMsg" id="chattingMsgResultSet">
  	<id property="chatMsg_no" column="CHAT_NO"/>
  	<result property="chattingRoom_no" column="CHATTINGROOM_NO"/>
  	<result property="chat_msg" column="CHAT_MSG"/>
  	<result property="talker" column="TALKER"/>
  	<result property="send_time" column="SEND_TIME"/>
  	<result property="read_yn" column="READ_YN"/>
  </resultMap>
 
  <select id="getListCount" resultType="_int" parameterType="SearchStatus">
		SELECT COUNT(*) 
		FROM (SELECT * 
  			  FROM CHATTING_ROOM
  			  WHERE CHAT_STATUS=#{searchStatus}
  	          <if test="searchName!=null">
  		      AND USER_ID LIKE '%'||#{searchName}||'%'
  		      </if>)	
  </select>
  <select id="selectRoom_data" parameterType="String" resultMap="chattingResultSet">
  	SELECT *
  	FROM CHATTING_ROOM
  	WHERE USER_ID=#{userId}
  </select>
   <insert id="insertRoom_no" parameterType="ChattingRoom">
  	INSERT INTO CHATTING_ROOM 
  	VALUES(SEQ_CHATROOM_NUM.NEXTVAL,#{client_id},'관리자','N') 
  </insert>
  <select id="selectAllRoom_data" parameterType="SearchStatus" resultMap="chattingResultSet">
  	SELECT * 
  	FROM CHATTING_ROOM
  	WHERE CHAT_STATUS=#{searchStatus}
  	<if test="searchName!=null">
  	AND USER_ID LIKE '%'||#{searchName}||'%'
  	</if>
  </select>
  <insert id="insertMessage" parameterType="ChattingMsg">
  	INSERT INTO CHAT_DETAIL
  	VALUES(SEQ_CHAT_MSG_NUM.NEXTVAL,#{chattingRoom_no},#{chat_msg}, #{talker}, SYSDATE,'N' )
  </insert>
  <select id="selectAllMsg_data" resultMap="chattingMsgResultSet">
  	SELECT * 
  	FROM CHAT_DETAIL
  </select> 

</mapper>
