<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messageMapper">
   <resultMap id="messageResultSet" type="Message">
      <id property="msgNo" column="MSG_NO"/>
      <result property="sendId" column="SEND_ID"/>
      <result property="rcvId" column="RCV_ID"/>
      <result property="sendDate" column="SEND_DATE"/>
      <result property="msgTitle" column="MSG_TITLE"/>
      <result property="msgContents" column="MSG_CONTENTS"/>
      <result property="msgStatus" column="MSG_STATUS"/>
      
   </resultMap>

   
   <!-- 발신메세지 -->
   <select id="sendMessageList" resultMap="messageResultSet">
      SELECT MSG_NO,RCV_ID,MSG_TITLE,MSG_CONTENTS,SEND_DATE,MSG_STATUS
      FROM MESSAGE
      WHERE SEND_ID=#{userId}
      ORDER BY SEND_DATE DESC
   </select>
   
   <!-- 수신메세지 -->
   <select id="receiveMessageList" resultMap="messageResultSet">
      SELECT MSG_NO,SEND_ID,MSG_TITLE,MSG_CONTENTS,SEND_DATE,MSG_STATUS
      FROM MESSAGE
      WHERE RCV_ID=#{userId}
      ORDER BY SEND_DATE DESC
   </select>
   
   <!-- 발신메세지 삭제 -->
   <delete id="deleteMessage">
   DELETE 
   FROM message
   WHERE msg_no=#{deleteMsgNo} AND SEND_ID=#{Id}
   </delete>
   
   
   <!-- 수신메세지 삭제 -->
   <delete id="deleteRcvMessage">
   DELETE 
   FROM message
   WHERE msg_no=#{deleteMsgNo} AND RCV_ID=#{Id}
   </delete>
   
   <!-- 모달 수신메세지 -->
   <select id="receiveMessageDetail" resultMap="messageResultSet">
     SELECT SEND_ID,MSG_TITLE,MSG_CONTENTS,SEND_DATE,MSG_STATUS
     FROM MESSAGE
     WHERE RCV_ID=#{Id} AND MSG_NO=#{msgNo}
     ORDER BY SEND_DATE DESC
   </select>
    
    
    <!-- 모달 수신메세지 답장하기 -->
    <insert id="insertMessageDetail">
    INSERT INTO MESSAGE(MSG_NO,SEND_ID,RCV_ID,MSG_TITLE,MSG_CONTENTS,SEND_DATE,MSG_STATUS)
	VALUES(SEQ_MSG_NO.NEXTVAL,#{Id},#{modal_reply_sendId},#{modal_reply_title},#{modal_reply_content},SYSDATE,DEFAULT)
    </insert>
 
 	<insert id="insertMessage" parameterType="Message">
 		INSERT INTO MESSAGE VALUES(SEQ_MSG_NO.NEXTVAL, #{sendId}, #{rcvId}, SYSDATE, #{msgTitle}, #{msgContents}, 'N')
 	</insert>
 
</mapper>