<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
  <resultMap type="reportCategory" id="reportCategorySet">
  	<id property="rpt_Code" column="RPT_CODE"/>
  	<result property="rpt_Content" column="RPT_CONTENT"/>
  </resultMap>
  
  <select id="selectRCateogory" resultMap="reportCategorySet">
  	SELECT * 
  	FROM R_CODE
  </select>
</mapper>
