<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tagMapper">
	<resultMap id="tagResultSet" type="Tag">
		<id property="tag_num" column="TAG_NUM"/>
		<result property="tag_name" column="TAG_NAME"/>
	</resultMap>
	
	<select id="selectOneTag" parameterType="string" resultMap="tagResultSet">
		SELECT * FROM TAG
		WHERE TAG_NAME = #{tag}
	</select>
	
	<insert id="insertTag" parameterType="string">
		INSERT INTO TAG VALUES(SEQ_TAGNUM.NEXTVAL, #{tag})
	</insert>
	
	<select id="selectTag" parameterType="_int" resultMap="tagResultSet">
		SELECT BT.TAG_NUM, TAG_NAME
		FROM BUNG_TAG BT
		JOIN TAG T ON BT.TAG_NUM = T.TAG_NUM
		WHERE BUNG_NUM = #{bung_num}
	</select>
	
	<select id="selectTagName" parameterType="_int" resultMap="tagResultSet">
		SELECT TAG_NAME
		FROM TAG
		WHERE TAG_NUM = #{tag_num}
	</select>
	
	<delete id="deleteTag" parameterType="_int">
		DELETE FROM BUNG_TAG WHERE BUNG_NUM = #{bung_num}
	</delete>
</mapper>
